.app-container {
  max-width: $app-width;
}

// TODO: remove these comments if not useful
// .scroll {
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// .scroll::-webkit-scrollbar {
//   width: 6px;
// }

// .scroll::-webkit-scrollbar-track {
//   background: lighten($m-dark-red, 20);
//   border-radius: 10px;
// }

// .scroll::-webkit-scrollbar-thumb {
//   background: $m-dark-red;
//   border-radius: 10px;
// }

// .scroll::-webkit-scrollbar-thumb:hover {
//   background: darken($m-dark-red, 20);
// }

.max-height {
  height: calc(100vh - #{$header-height});
}

@media only screen and (max-width: 700px) {
  .app-container {
    max-width: $app-v-width;
  }
}
