#app {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}
